<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shang.news.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shang.news.entities.Order">
        <id column="id" property="id" />
        <result column="order_company" property="orderCompany" />
        <result column="order_user" property="orderUser" />
        <result column="order_time" property="orderTime" />
        <result column="order_flag" property="orderFlag" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_company, order_user, order_time, order_flag, createtime, updatetime
    </sql>

</mapper>
